<?xml version="1.0" encoding="utf-8" ?>

<scope
	xmlns="http://metalx.org/Program"
	xmlns:cpu="http://metalx.org/Intel/80286/Operators"
	xmlns:op="http://metalx.org/Intel/80286/Operands"
	xmlns:seg="http://metalx.org/Intel/80286/Segments"
	xmlns:inc="http://metalx.org/Intel/80286/Increment"
	xmlns:imm="http://metalx.org/Intel/80286/Immediate"
	xmlns:logic="http://metalx.org/Intel/80286/Logic"
	xmlns:math="http://metalx.org/Intel/80286/Math"
	xmlns:ari="http://metalx.org/Intel/80286/Arithmetic"
	xmlns:shift="http://metalx.org/Intel/80286/Shift"
	xmlns:dsk="http://metalx.org/i286/Functions/Disk"
	xmlns:con="http://metalx.org/i286/Functions/Console"
	xmlns:flp="http://metalx.org/Pc/Bios/Disk"
	xmlns:bios="http://metalx.org/Pc/Bios/Functions"
	xmlns:sys="http://metalx.org/Pc/Bios/System"
	xmlns:cmd="http://metalx.org/Pc/Pic/Commands"
	xmlns:pic="http://metalx.org/Pc/Pic/Ports">

	<label id="initialize" export="System.Initialize">
		<!--Enable A20 Gate-->
		<cpu:CopyImmediateToAX/>
		<sys:EnableA20Gate/>

		<cpu:CallImmediate8Interrupt/>
		<bios:SystemFunctions/>

		<cpu:ClearInterruptFlag/>

		<!--Clear Registers-->
		<cpu:CopyImmediateToAX/>
		<hex>0000</hex>

		<cpu:CopyOperandToSegmentRegister16/>
		<seg:DS-AXRegister/>

		<cpu:CopyOperandToSegmentRegister16/>
		<seg:ES-AXRegister/>

		<!--Disable NMI-->
		<!--<cpu:ReadFromImmediate8PortToAL/>
		<hex>70</hex>

		<cpu:OrALWithImmediate/>
		<binary>10000000</binary>

		<cpu:WriteALToImmediate8Port/>
		<hex>70</hex>-->

		<!--Install Default Interrupt Handlers-->
		<cpu:CopyImmediateToDI/>
		<hex>0080</hex>

		<cpu:CopyImmediateToCX/>
		<short>192</short>

		<label id="forEachInterrupt"/>

		<cpu:CopyImmediateToOperandFunction16/>
		<imm:CopyImmediateToDIAddress/>
		<addressOf ref="defaultInterruptHandler" type="Absolute16"/>

		<cpu:IncrementDI/>
		<cpu:IncrementDI/>

		<cpu:CopyImmediateToOperandFunction16/>
		<imm:CopyImmediateToDIAddress/>
		<addressOf ref="defaultInterruptHandler" type="Segment16"/>

		<cpu:IncrementDI/>
		<cpu:IncrementDI/>

		<cpu:LoopToRelative8/>
		<addressOf ref="forEachInterrupt" type="Relative8"/>

		<cpu:CallRelative16/>
		<addressOf ref="Pic.Enable" type="Relative16"/>

		<cpu:CallRelative16/>
		<addressOf ref="Ps2Pic.Enable" type="Relative16"/>

		<cpu:CallRelative16/>
		<addressOf ref="Ps2Keyboard.Enable" type="Relative16"/>

		<cpu:CallRelative16/>
		<addressOf ref="ConsoleKeyboard.Enable" type="Relative16"/>

		<cpu:CallRelative16/>
		<addressOf ref="ConsoleScreen.Enable" type="Relative16"/>

		<cpu:CallRelative16/>
		<addressOf ref="SerialPic.Enable" type="Relative16"/>

		<cpu:CallRelative16/>
		<addressOf ref="Serial.Enable" type="Relative16"/>

		<cpu:CallRelative16/>
		<addressOf ref="SerialConsole.Enable" type="Relative16"/>

		<cpu:CallRelative16/>
		<addressOf ref="Network.Enable" type="Relative16"/>

		<cpu:CallRelative16/>
		<addressOf ref="Chat.Start" type="Relative16"/>

		<cpu:SetInterruptFlag/>

		<cpu:ReturnToNearCaller/>
	</label>

	<label id="defaultInterruptHandler">
		<cpu:CallRelative16/>
		<addressOf ref="Screen.Test" type="Relative16"/>

		<cpu:ReturnFromInterrupt/>
	</label>
</scope>