<?xml version="1.0" encoding="utf-8"?>

<scope
	xmlns="http://metalx.org/Program"
	xmlns:cpu="http://metalx.org/Wdc/65C02/Operators"
	xmlns:mem="http://metalx.org/65C02/Functions/Memory"
	xmlns:str="http://metalx.org/65C02/Functions/String"
	xmlns:mm="http://metalx.org/65C02/Functions/MemoryManager"
	xmlns:clsf="http://metalx.org/C64/Functions/Class"
	xmlns:cls="http://metalx.org/Class"
	xmlns:scr="http://metalx.org/x16Console/Functions/Screen"
	xmlns:ascii="http://metalx.org/Ansi/Ascii"
	xmlns:petscii="http://metalx.org/Commodore64/Petscii"
	xmlns:var="http://metalx.org/Variable">
 
	<!--GetDateTime()-->
	<label id="Kernal.GetDateTime" offset="FF50"/>
	
	<!--SetInteruptTable(low, high)-->
	<label id="Kernal.SetInterruptTable" offset="FF8A"/>

	<label id="RamBank" offset="9F61"/>

	<label id="GetDateTime" export="System.GetDateTime">
		<cpu:CallImmediate16Address/>
		<addressOf ref="Kernal.GetDateTime" type="Absolute16"/>

		<cpu:ReturnFromSubroutine/>
	</label>

	<label id="SetRamBank" export="System.SetRamBank">
		<cpu:CopyAccumulatorToImmediate16Address/>
		<hex>9F61</hex>
		
		<cpu:ReturnFromSubroutine/>
	</label>
	
	<label id="SetInterruptTable" export="System.SetInterruptTable">
		<cpu:CallImmediate16Address/>
		<addressOf ref="Kernal.SetInterruptTable" type="Absolute16"/>

		<cpu:ReturnFromSubroutine/>
	</label>

</scope>